.f_l {
  float: left;
}
.f_r {
  float: right;
}
.piece {
  display: inline-block;
}
/* 全局样式 */
select,
input,
button {
  outline: medium none;
}
li {
  list-style: none;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #188eee;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  font-size: 100%;
}
.clear {
  clear: both;
}
/* 头部 */
.header {
  width: 100%;
  height: 30px;
  background: #e7e7e7;
}
.header .header_box {
  width: 1200px;
  margin: 0px auto;
}
.header .header_box .header_box_l {
  float: left;
  width: auto;
  height: 100%;
  line-height: 30px;
}
.header .header_box .header_box_r {
  float: right;
  width: auto;
  height: 100%;
  line-height: 30px;
}
.header .header_box li {
  float: right;
  font-size: 14px;
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
/* 导航 */
.nav {
  width: 100%;
  height: 105px;
  background: #fff;
}
.nav .nav_box {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
}
.nav .nav_box .nav_logo {
  width: 153px;
  height: 65px;
  margin-top: 18px;
  float: left;
  background: url("../images/logo.png") no-repeat;
}
.nav .nav_box .nav_seek {
  margin: 30px 0 0 200px;
  display: inline-block;
  float: left;
}
.nav .nav_box .nav_seek .nav_btn0 {
  width: 400px;
  height: 38px;
  border: 2px solid #188eee;
  float: left;
}
.nav .nav_box .nav_seek .nav_btn1 {
  width: 100px;
  height: 42px;
  background: #188eee;
  border: 2px solid #188eee;
}
.nav .nav_box .nav_seek .nav_seek_hot {
  font-size: 13px;
  margin-top: 5px;
}
.nav .nav_box .nav_seek .nav_seek_hot li {
  float: left;
  margin: 0px 5px;
}
.nav .nav_box .nav_shop {
  float: left;
  margin: 30px 0 0 70px;
}
.nav .nav_box .nav_shop .shop_a {
  background: #FF3C3C;
}
.nav .nav_box .nav_shop .shop_a:hover {
  color: #E2E7E7;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav .nav_box .nav_shop .shop_b {
  background: #E2E7E7;
}
.nav .nav_box .nav_shop .shop_b:hover {
  color: #FF3C3C;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav .nav_box .nav_shop a {
  display: inline-block;
  width: 100px;
  height: 45px;
  float: left;
  text-align: center;
  line-height: 45px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* solide */
.solide {
  width: 100%;
  height: 460px;
  position: relative;
}
.solide .solide_box {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
}
.solide .solide_box .solide_nav1 {
  width: 220px;
  height: 460px;
  float: left;
  text-align: center;
  font-size: 14px;
}
.solide .solide_box .solide_nav1 .nav1_title {
  width: 100%;
  height: 40px;
  background: #ff3c3c;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
}
.solide .solide_box .solide_nav1 .nav1_title a {
  color: #fff;
}
.solide .solide_box .solide_nav1 .nav1_content {
  width: 100%;
  height: 35px;
  background: #c23131;
  line-height: 35px;
  position: relative;
  /* 二级导航 */
}
.solide .solide_box .solide_nav1 .nav1_content .nav1_content_box {
  padding-left: 0px;
  -webkit-transition: all 180ms ease;
  -o-transition: all 180ms ease;
  transition: all 180ms ease;
  color: #fff;
}
.solide .solide_box .solide_nav1 .nav1_content .nav1_content_box:hover {
  padding-left: 10px;
  -webkit-transition: all 180ms ease;
  -o-transition: all 180ms ease;
  transition: all 180ms ease;
  background: #B42E2E;
}
.solide .solide_box .solide_nav1 .nav1_content .nav1_content_box:after {
  content: ">";
  position: absolute;
  right: 10px;
  color: #fff;
  z-index: 1;
}
.solide .solide_box .solide_nav1 .nav1_content .nav1_content_box a {
  color: #fff;
}
.solide .solide_box .solide_nav1 .nav1_content .solide_nav1_nav2 {
  width: 980px;
  height: 418px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #e6e6e6;
  position: absolute;
  left: 220px;
  top: 0px;
  display: none;
}
.solide .solide_box .solide_nav1 .nav1_content:hover .solide_nav1_nav2 {
  display: block;
}
.solide .solide_box .solide_nav2 {
  width: 980px;
  height: 40px;
  background: #fff;
  float: left;
}
.solide .solide_box .solide_nav2 ul {
  text-align: left;
}
.solide .solide_box .solide_nav2 ul li {
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}
.solide .images {
  width: 100%;
  height: 420px;
  float: left;
  position: absolute;
  top: 40px;
  z-index: -10;
  background: url("../images/slide1.jpg") center center;
}
.solide .bgcolor {
  width: 100%;
  height: 420px;
  background: url("../images/slide1_1.jpg");
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -11;
}
.content_bg {
  width: 100%;
  height: auto;
  background: #F9F9F9;
}
.content_box1 {
  width: 1200px;
  height: 370px;
  margin: 0px auto;
  margin-top: 10px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}
.content_title {
  width: 100%;
  height: 35px;
  border-bottom: 2px solid #FF3C3C;
}
